
html
    head
        include ../inc/head.pug
        link(rel="stylesheet" href="/css/default.css")
    body
        include ../inc/header.pug
        block banner
        block left
        block content	
        			

